.home-details{
    height: 100vh;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details-me h1{
    margin-top: 10px;
    font-size: 80px;
    
}

.description-short{
    margin-top: 10px;
    font-size: 60px;
}

.details-me span{
    
    color: aqua;

}


.icon a{
    display: inline-flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1.5px solid aqua;
    background: transparent;
    text-decoration: none;
    color: aqua;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
    transition: .5s  ease-in;
    
}

.icon a:hover{
    background:aqua;

    box-shadow: 0 0 16px aqua;
    
}

.icon a i{
    color: rgb(36, 158, 158);
    margin: 14px 10px 10px 10px;

}

.btn{
    
    color: rgb(24, 112, 112);
    font-size: 14px;
    margin-top: 20px ;
    border:none ;
    padding: 10px 10px;
    border-radius: 42px;
    background: aqua;
    box-shadow: 0 0 16px aqua;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
    cursor: pointer;
}



.summary {
    margin-top: 10px;
    font-size: 28px;
}

img{
    width: 500px;
    height: 500px;
}

.image-me{
    box-shadow: 0px 10px 18px aqua;
    border-radius: 50%;
}


/* responsive */
@media only screen and (max-width: 720px) {

    .home-details{
        height: 100vh;
        margin-right: 5%;
        display: flex;
        margin-top: 800px;
        justify-content: space-between;
        align-items: center;
    }

    .details-me  {
        width: 100%;
        margin-top: 800px;
    }

    .image-me{
        margin-top: 800px;
    }
    .icon{
        display: flex;
    justify-content: center;
    flex-direction: column;
    width: 32px;
    height: 32px;
    border: 1.5px solid aqua;
    background: transparent;
    text-decoration: none;
    color: aqua;
    border-radius: 50%;
    margin-top: 400px;
    margin-right: 10px;
    transition: .5s  ease-in;
    }

    .about-section{
        margin-top: 1000px;
    }
    .left-about{
        width: 50%;
    }
    .right-about{
        width: 50%;
    }

}